.App{
  width: 90%;
  margin: 10px auto;
  position: relative;
  height: 100vh;
}


.header{
  margin-bottom: 100px;
}

a{
  text-decoration: none;
  font-weight: bolder;
  font-size: 24px;
}

.header > a{
  color: #000;
}

.page-content{
  display: block;
  align-items: center;
  justify-content: space-between;
  gap:45px;
  flex-direction: column;
}

.page-illustration{
  width: 280px;
}

.page-illustration img{
  width: 100%;
}

.hero-content h1{
  font-size: 32px;
  width: auto;
  color: #333333;
  line-height: 41px;
}
.hero-content p{
  color: #4F4F4F;
  width: auto;
  margin-bottom: 32px;
  font-size: 18px;
}

.back_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  max-width: 216px;
  min-height: 48px;
  padding:12px 43px;
}

.footer{
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
  left: 0;
  color: #BDBDBD;
  font-size: 14px;
}

@media screen and (min-width:968px){
  .page-content{
    flex-direction: row;
    align-items: flex-start;
    display: flex;
  }

  .header{
    margin-bottom: 200px;
  }

  .hero-content p{
    font-size: 18px;
  }

  .hero-content h1{
    font-size: 64px;
    width: 586px;
    line-height: 95px;
  
  }
  
  .hero-content p{
    
    width: 381px;
   
  }
  
  .page-illustration{
    width: 435px;
  }
  
  .App{
    margin: 45px auto;
  }

  .footer{
    bottom: 55px;
  }

  .header{
    margin-bottom: 200px;
  }
  
}